<div class="container">
    <!-- Header Row -->
    <div class="row">
        <div class="col">
            <h1>To do</h1>
        </div>
    </div>

    <!-- Task Display Row -->
    <div class="row">
        <!-- Unfinished Tasks -->
        <div class="col-6" id="incomplete-tasks">
            <h2>Incomplete Tasks</h2>

            {{#each tasks}}
                {{#unless task.done}}
                    <div class="card task-card">
                        <div class="card-body">
                            {{task.text}}
                            <a href="#" taskid={{task.id}} class="btn btn-success mark-complete">Mark Complete</a>
                            <a href="#" taskid={{task.id}} class="btn btn-danger delete-task">Delete Task</a>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}

        </div>

        <!-- Finished Tasks -->
        <div class="col-6" id="complete-tasks">
            <h2>Completed Tasks</h2>
            {{#each tasks}}
                {{!-- <div>{{task.text}}</div> --}}
                {{#if task.done}}
                    <div class="card task-card">
                        <div class="card-body">
                            {{task.text}}
                            <a href="#" taskid={{task.id}} class="btn btn-success mark-incomplete">Mark Incomplete</a>
                            <a href="#" taskid={{task.id}} class="btn btn-danger delete-task">Delete Task</a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}

        </div>
    </div>


    <!-- Input Row -->
    <div class="row">
        <div class="col">
            <!-- Inputting a new task -->
            <div class="input-group" id="task-input">
                <input type="text" class="form-control" id="new-task-text" placeholder="Enter a new task...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="new-task">Add New Task</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on('click', '.mark-complete', function() {
        // do stuff to mark complete
        $(this).text('Mark Incomplete');
        $(this).removeClass('mark-complete').addClass('mark-incomplete');
        $('#complete-tasks').append($(this).parent().parent().detach());

        // send ajax call to mark this task complete
        $.ajax({
            url: '/api/data/'+ $(this).attr('taskid') +'/done',
            type: 'PUT'
        })
    })

    $(document).on('click', '.mark-incomplete', function() {
        $(this).text('Mark Complete');
        $(this).removeClass('mark-incomplete').addClass('mark-complete');
        $('#incomplete-tasks').append($(this).parent().parent().detach());

        // send ajax call to mark this task incomplete
        $.ajax({
            url: '/api/data/'+ $(this).attr('taskid') +'/done',
            type: 'PUT'
        })
    })

    $(document).on('click', '#new-task', function() {
        let newTask = $('#new-task-text').val();

        if (newTask) {
            $.ajax({
                type: 'POST',
                url: '/api/data',
                data: {newTask: newTask},
            });

            location.reload();
        }
    })

    $(document).on('click', '.delete-task', function() {
        // delete from database
        $.ajax({
            type: 'DELETE',
            url: '/api/data/' + $(this).attr('taskid') +'/delete',
        })
        // remove from page
        $(this).parent().parent().remove();
    })
</script>